/*
################################################################################################################

基本設定

################################################################################################################
*/


html{
	font-size: 62.5%; /* sets the base font to 10px for easier math */
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
	-webkit-text-size-adjust: 100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 1.4rem;
  color: #000;
}

a{
  color: #000;
}

img{
  max-width: 100%;
	height: auto;
}
