@charset "utf-8";

/*
PCとSPの表示切り替え
------------------------------------------------*/

@media screen and (max-width: $mediaquery_max) {
  .c-pc{
    display: none;
  }
}

@media screen and (min-width: $mediaquery_min) {
  .c-sp{
    display: none;
  }
}
