@charset "utf-8";
/*
 * Gutenberg (新エディタ)
*/

/* font-family */
body.block-editor-page .editor-post-title__input,
body.block-editor-page .editor-block-list__block {
  /*  font-family: "Hiragino Kaku Gothic Pro",Meiryo,sans-serif !important;*/
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans",
    Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

/* 標準 font-size(16px) を 14px にする */
body.block-editor-page .editor-block-list__block {
  font-size: 14px;
}
body.block-editor-page .edit-post-visual-editor p:not(.wp-block-cover-text) {
  font-size: 14px;
}

/* blockquote だけ font-size をGutenberg標準に戻す */
body.block-editor-page
  .wp-block-pullquote
  blockquote
  > .block-library-pullquote__content
  .editor-rich-text__tinymce[data-is-empty="true"]:before,
body.block-editor-page .wp-block-pullquote blockquote > .editor-rich-text p {
  font-size: 24px !important;
}
body.block-editor-page .wp-block-pullquote__citation,
body.block-editor-page .wp-block-pullquote cite,
body.block-editor-page .wp-block-pullquote footer {
  font-size: 13px;
}

/* タイトル幅合わせ Fix Gutenberg4.0 */
body.block-editor-page .edit-post-visual-editor .editor-post-title__block > div {
  margin-left: 13px;
  margin-right: 13px;
}

/* 表示幅設定 */

/* 2カラム 最大幅 + 30 */
body.block-editor-page .editor-post-title__block,
body.block-editor-page .editor-default-block-appender,
body.block-editor-page .editor-block-list__block {
  /* 730 + 30 */
  max-width: 760px !important;
}

/* 1カラム 最大幅 + 30 */
body.block-editor-page.full-width-page .editor-post-title__block,
body.block-editor-page.full-width-page .editor-default-block-appender,
body.block-editor-page.full-width-page .editor-block-list__block {
  /* 1200 + 30 */
  max-width: 1230px !important;
}

/* 幅広 Fix */
body.block-editor-page .edit-post-visual-editor .editor-block-list__block[data-align="wide"] {
  /* 800 + 30 */
  max-width: 830px !important;
}

/* 全幅 Fix */
body.block-editor-page .edit-post-visual-editor .editor-block-list__block[data-align="full"] {
  max-width: none !important;
}

/* line-height Fix 1.8->1.6 */
body.block-editor-page .editor-rich-text__tinymce.mce-content-body {
  line-height: 1.6;
}

/* aタグ */
.editor-rich-text__tinymce a {
  color: #000;
  text-decoration: underline;
}

/* 画像キャプション */
.wp-block-image figcaption {
  color: #000;
}
