@charset "UTF-8";
/* =============================================
base
============================================= */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

fieldset,
img,
object {
  border: 0;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

hr {
  display: none;
}

strong {
  font-weight: bold;
}

a {
  outline: none;
  overflow: hidden;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
asaide,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  border: 0;
  vertical-align: top;
}

br {
  letter-spacing: normal;
}

*:first-child + html body {
  font-size: 75%;
  font-family: "メイリオ", Meiryo, sans-serif;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font: 13px/1.231 "ヒラギノ角ゴPro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  *font-size: small;
  *font: x-small;
}

.ie8 body {
  font: 13px/1.231 "ヒラギノ角ゴPro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}

html > body {
  font-size: small\9;
}

table {
  font-size: inherit;
  font: 100%;
}

pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clr {
  content: " ";
  clear: both;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: 0 -1px -1px 0;
  border: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*
################################################################################################################

基本設定

################################################################################################################
*/
html {
  font-size: 62.5%;
  /* sets the base font to 10px for easier math */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.4rem;
  color: #000;
}

a {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

/*
PCとSPの表示切り替え
------------------------------------------------*/
@media screen and (max-width: 768px) {
  .c-pc {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .c-sp {
    display: none;
  }
}

/* =============================================
layout
============================================= */
/*
################################################################################################################

HEADER

################################################################################################################
*/
/*
################################################################################################################

FOOTER

################################################################################################################
*/
/* =============================================
module
============================================= */
/* =============================================
page
============================================= */
/* =============================================
top
============================================= */
