@charset "utf-8";

/*
################################################################################################################

FOOTER

################################################################################################################
*/

.footer{
}


@media screen and (min-width: $mediaquery_min) {
}

@media screen and (max-width: $mediaquery_max) {
}
